/* Swiper Navigation Custom Fix */
.trv-mf-tour-swiper {
    position: relative;
    padding: 0 40px; /* ডানে-বামে অ্যারোর জন্য জায়গা তৈরি করবে */
}

.trv-mf-tour-swiper .swiper-button-next,
.trv-mf-tour-swiper .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    margin-top: 0;
}

.trv-mf-tour-swiper  .swiper-navigation-icon{
    right: 0px;   
        height: 50%;
        
        object-fit: contain;
        transform-origin: center;
        width: 50%;
        fill: currentColor;
        pointer-events: none;
    

}



/* Swiper arrow icon size fix */
.trv-mf-tour-swiper .swiper-button-next::after,
.trv-mf-tour-swiper .swiper-button-prev::after {
    font-size: 18px !important;
    font-weight: 900;
}